@model Vishop.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.name</h2>

<ul>
    <li><b>Genre:</b> @Model.genre.name </li>
    <li><b>Release Date:</b> @String.Format("{0:dd MMMM yyyy}", Model.releaseDate);  </li>
    <li><b>Date Added:</b> @String.Format("{0:dd MMMM yyyy}", Model.addedDate);  </li>
    <li><b>Number in Stock:</b> @Model.numbeInStock  </li>
    </ul>


